<footer>
    <div class="footer" id="site_footer">
        <div class="container">
            <div class="row footer__columns">
                <div class="col-lg-2 col-md-4">
                    <img src="src/images/logo.png" width="140" alt="ГУАП">
                </div>
                <div class="col-lg-10 col-md-8 footer__text">
                    <div>
                        Федеральное государственное автономное образовательное учреждение высшего образования
                        <nobr>«Санкт-Петербургский</nobr>
                        государственный университет аэрокосмического приборостроения»
                    </div>
                    <div class="dev-info">
                        Сделано в <a href="https://guap.ru/cit">ЦИТ ГУАП</a><br>
                        <small>00:00:00.0156522</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="src/js/libs.min.js"></script>
</footer>