<!-- Cujus regio, ejus religio -->
<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="header__nav">
                    <div id="site_logo">
                        <a href="https://guap.ru"><img src="../../src/images/logo.png" width="100.8" alt="ГУАП"></a>
                    </div>
                    <div class="search__container">
                        <input type="text" class="search__input" placeholder="Поиск" aria-label="Search"
                               aria-describedby="search-addon"/>
                    </div>
                    <div class="header__end">
                        <div id="barDropdown" class="dropdown">
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="navigation">
                            <a href="#"><i class="fas fa-sitemap" title="Карта узлов"></i></a>
                        </div>
                        <div class="search-mobile">
                            <a href="#"><i class="fas fa-search" title="Поиск"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>