<ul id="myDropdown" class="dropdown__content">
    <div class="container">
        <div class="node__header">
            <h1>Сведения об образовательной организации</h1>
        </div>
        <div class="dropdown__column">
            <div class="dropdown__columns">
                <li><a class="active" href="#">Основные сведения</a></li>
                <li><a href="#">Структура и органы управления</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Образование</a></li>
                <li><a href="#">Образовательные стандарты</a></li>
            </div>
            <div class="dropdown__columns">
                <li><a href="#">Руководство. Педагогический (научно-педагогический) состав</a></li>
                <li><a href="#">Материально-техническое обеспечение и оснащенность образовательного процесса</a></li>
                <li><a href="#">Стипендии и иные виды материальной поддержки</a></li>
                <li><a href="#">Платные образовательные услуги</a></li>
                <li><a href="#">Финансово-хозяйственная деятельность</a></li>
            </div>
            <div class="dropdown__columns">
                <li><a href="#">Вакантные места для приема (перевода)</a></li>
                <li><a href="#">Доступная среда</a></li>
                <li><a href="#">Международное сотрудничество</a></li>
                <li><a href="#">О сайте</a></li>
            </div>
        </div>
    </div>
</ul>
<div id="page_path" class="page">
    <div class="container">
        <ol class="breadcrumb" aria-label="breadcrumb">
            <li class="breadcrumb-item"><a href="https://guap.ru">ГУАП</a></li>
            <li class="breadcrumb-item"><a href="/sveden">Сведения об образовательной организации</a></li>
            <li aria-current="page" id="start" class="breadcrumb-item active">Основные сведения</li>
        </ol>
    </div>
</div>
<div id="page_title" class="page-title">
    <div class="container">
        <h1><span class="text-color-title">Основные</span> сведения</h1>
    </div>
</div>