<!-- Сайдбар -->
<div class="sidebar">
    <div><b>Содержание</b></div>
    <div class="minimize"></div>
    <div class="content">
        <ol class="sidebar__ol">
            <li><a href="#start">Основные сведения</a>
                <ol>
                    <li><a href="#igf">Информация о филиале ГУАП</a></li>
                    <li><a href="#schedule">Режим и график работы</a></li>
                    <li><a href="#study">Начало и окончание учебных занятий</a>
                        <ol>
                            <li><a href="#schedule_vo">Образовательные программы высшего образования</a></li>
                            <li><a href="#schedule_spo">Образовательные программы среднего профессионального
                                образования</a></li>
                            <li><a href="#university">Университет открыт</a></li>
                        </ol>
                    </li>
                    <li><a href="#address">Адреса основных корпусов и общежитий ГУАП </a>
                        <ol>
                            <li><a href="#bm67">Корпус на Б. Морской 67 (главный корпус)</a></li>
                            <li><a href="#gast15">Корпус на Гастелло 15 (Чесменский дворец)</a></li>
                            <li><a href="#lens14">Корпус на Ленсовета 14</a></li>
                            <li><a href="#mosk149">Корпус на Московском 149в</a></li>
                            <li><a href="#juk24">Общежитие на Жукова 24</a></li>
                            <li><a href="#per13">Общежитие на Передовиков 13</a></li>
                            <li><a href="war8">Общежитие на Варшавской 8</a></li>
                        </ol>
                    </li>
                    <li><a href="#reqs">Реквизиты ГУАП</a>
                        <ul>
                            <li><a href="#besnul">Реквизиты ГУАП для безналичных перечислений</a></li>
                            <li><a href="#order">Оплата обучения и проживания в общежитиях ГУАП</a></li>
                        </ul>
                    </li>
                    <li><a href="#history">Ключевые даты в истории ГУАП</a></li>
                </ol>
            </li>
        </ol>
    </div>
</div>