@import '/src/scss/bootstrap.css';
@import "/src/scss/fonts.css";
@import "/src/scss/header.css";
@import "/src/scss/sidebar.css";
body {
  font-size: 16px;
  font-family: Roboto-Light, sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #e72b70;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.text-color-title {
  color: #005aaa;
}

#top_up {
  position: fixed;
  color: #005aaa;
  background-color: #f3f3f3;
  right: 25px;
  bottom: 25px;
  padding: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top_up:hover {
  cursor: pointer;
  color: #e72b70;
}

table {
  margin: 0;
}

.subtitle {
  margin-bottom: 40px;
}

.address__build {
  align-items: center;
}

.address__build_reverse {
  flex-direction: row-reverse;
}

.address {
  background-color: #f3f3f3;
  border-radius: 18px;
  padding: 50px;
}

.dormitory {
  padding-left: 0;
  list-style-type: none;
}
.dormitory li {
  position: relative;
  padding-left: 40px;
  background-image: url(../images/info.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  line-height: inherit;
}
.dormitory .dormitory-down {
  padding-left: 0;
}
.dormitory .dormitory-down li {
  background-image: none;
  padding-left: 0;
}
.dormitory .dormitory-down li .table-responsive-sm {
  margin-left: -40px;
}

.footer {
  background-color: #f3f3f3;
  padding: 20px;
}
.footer__columns {
  display: flex;
  align-items: center;
}

.dev-info {
  text-align: end;
}

.alert-danger {
  max-width: 40rem;
}

blockquote {
  border-width: 0 0 0.5rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, #e72b70, #005aaa) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, #e72b70, #005aaa) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #e72b70, #005aaa) 1 100%;
  margin: 3rem 0;
  padding: 0 2rem;
  background: none;
  font-size: 1rem;
  line-height: 1.4;
  border-left: solid 0.5rem #e9ecef;
}

.history p {
  line-height: 1.7;
}

.download-pdf {
  color: #005aaa;
  margin-left: 5px;
}

.dropdown {
  display: none;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.footer__text {
  display: flex;
  align-items: center;
}

.search-mobile {
  display: none;
}

table {
  font-size: 1rem;
}

.breadcrumb {
  font-size: 0.8rem;
}

.breadcrumb-item {
  margin-bottom: 5px;
}

.breadcrumb-item:last-child {
  padding-left: 0;
}

.show {
  display: block;
}

@media screen and (max-width: 767px) {
  .dormitory li {
    background-size: 1.6rem 1.4rem;
    font-size: 14px;
  }

  .subtitle__padding {
    font-size: 20px;
  }

  .footer__text {
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
  }

  .dev-info {
    padding-top: 10px;
  }

  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 1023px) and (min-width: 576px) {
  #site_logo {
    justify-content: center;
    flex: 0 0 auto;
    width: 75%;
  }

  .header__end {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .dropdown {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1023px) {
  .btn-menu {
    display: none;
  }

  .search__container {
    display: none;
  }

  .search-mobile {
    display: flex;
  }

  .dropdown {
    display: block;
    cursor: pointer;
  }

  .header__end {
    width: 16.667%;
  }
}
@media screen and (max-width: 576px) {
  #site_logo {
    justify-content: center;
  }

  .header__end {
    width: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
